:root {
  --primary-color: #ff9854;
  /* 全局修改 */
  /* --van-padding-base: 8px */
  /* 搜索框icon大小 */
  --van-field-icon-size: 16px !important;
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-font-bold: 500 !important;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  --van-primary-color: var(--primary-color)
}
body {
  font-size: 14px;
}
.ellispe2 {
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hidden-tabbar {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
}